@media (min-width: 1400px) {
  .container {
    max-width: 1140px;
  }
}

.home {
  padding-top: 50px;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .nav-link {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 18px;
  padding: 0 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Montserrat', sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #3498db;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #57aae1;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*Navbar*/
.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 30px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar ul a:hover,
.navbar ul .active:hover,
.navbar ul li:hover>a {
  color: #3498db;
  background-color: #fff;
}

/* Dropdown menu */

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #3498db;
  background-color: #fff;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

#about i {
  color: #3498db;
}

/*pricing*/

.pricing .card h4 {
  font-size: 42px;
  color: #3498db;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 20px;
}

.pricing .card h4 sup {
  font-size: 20px;
  top: -15px;
  left: -3px;
}

.pricing .card h4 span {
  color: #bababa;
  font-size: 16px;
  font-weight: 300;
}

.pricing .card .btn-wrap {
  padding: 15px;
  text-align: center;
}

.pricing .card .btn-buy {
  display: inline-block;
  padding: 10px 40px 12px 40px;
  border-radius: 50px;
  border: 2px solid #3498db;
  color: #3498db;
  font-size: 14px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  transition: 0.3s;
  text-decoration: none;
}

.pricing .card .btn-buy:hover {
  background: #3498db;
  color: #fff;
}

.pricing .card ul .na {
  color: #ccc;
  text-decoration: line-through;
}


.testimonials-container {
  padding: 50px;
  background-color: #F0F5F9;
}

/*Contact*/
.contact-container {
  padding: 50px;
}

#contact {
  background-image: url(../images/contact-bg.png);
  background-position: center;
  background-repeat: no-repeat;
}

#contact .info i {
  font-size: 32px;
  color: #3498db;
  float: left;
  line-height: 1;
}

#contact .info p {
  padding: 0 0 10px 42px;
  line-height: 28px;
  font-size: 18px;
}

#contact .info {
  color: #444444;
}

/*Footer*/

.footer .footer-icons {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.footer .footer-icons i:hover {
  background: #57aae1;
  color: #fff;
}